.git
.venv
.vscode
__pycache__

# project files
config.yaml
data
downloads
temp
# db folders
!keep
!remove
old

# misc
Ξtestfile.ipynb

# PyInstaller directories
build
dist
*.spec