.git
.venv
__pycache__

# project files
data
downloads
logs.log
# db folders
!keep
!remove
old

# misc
todo.md
Ξtestfile.ipynb

# PyInstaller directories & files
build
dist
*.spec
*.exe