.git
.venv
__pycache__
.*_cache
data/*.csv
data/*.sqlite
data/*.7z
data/*.zip
data/*.tar.*

# project files
data
downloads
logs
tests/test_downloads
ytmasc/_version.py


# misc
.temp
build
dist
*.spec
*.exe
*.egg-info