name: Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build:
    name: Build and Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
          uv sync
          uv pip install pyinstaller

      - name: Build executable (Windows)
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: uv run pyinstaller --name=ytmasc --icon=".\assets\icon.ico" --onefile ytmasc.py

      - name: Build executable (Linux)
        if: matrix.os == 'ubuntu-latest'
        run: uv run pyinstaller --name=ytmasc --icon="./assets/icon.ico" --onefile ytmasc.py

      - name: Create Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/ytmasc*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
